apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- etcd.yaml
- coredns-patcher-job.yaml
- coredns-rbac.yaml
- internal-dns-updater-job.yaml
- dns-monitor-cronjob.yaml

helmCharts:
- name: coredns
  repo: https://coredns.github.io/helm
  version: 1.29.0
  releaseName: kare-dns
  namespace: kare-dns
  valuesFile: values.yaml

patches:
- target:
    kind: Deployment
    name: kare-dns-coredns
  patch: |-
    - op: replace
      path: /spec/template/spec/dnsPolicy
      value: ClusterFirst
