approvalService:
  image: "ghcr.io/lsc-sde-crates/cr8tor-publisher/cr8tor-approval-service:0.1.65"
  volumes:
  - name: secrets-store-inline
    projected:
      defaultMode: 0444
      sources:
      - secret:
          name: cr8tor-microserviceapikey-secret
      - secret:
          name: cr8tor-secret
  env:
    - name: ENVIRONMENT
      value: "${ENVIRONMENT}"
    - name: PUBLISH_CONTAINER_NAME
      value: cr8tor-publish.${DOMAIN}

metadataService:
  image: "ghcr.io/lsc-sde-crates/cr8tor-publisher/cr8tor-metadata-service:0.1.65"
  volumes:
  - name: secrets-store-inline
    projected:
      defaultMode: 0444
      sources:
      - secret:
          name: cr8tor-microserviceapikey-secret
      - secret:
          name: cr8tor-secret
  env:
    - name: ENVIRONMENT
      value: "${ENVIRONMENT}"


publishService:
  image: "ghcr.io/lsc-sde-crates/cr8tor-publisher/cr8tor-publish-service:0.1.65"
  volumes:
  - name: secrets-store-inline
    projected:
      defaultMode: 0444
      sources:
      - secret:
          name: cr8tor-microserviceapikey-secret
      - secret:
          name: cr8tor-secret
  env:
    - name: ENVIRONMENT
      value: "${ENVIRONMENT}"

    - name: DESTINATION_POSTGRESQL_HOST
      value: "datashield-postgres-cluster-rw.datashield.svc.cluster.local"
    - name: DESTINATION_POSTGRESQL_DATABASE
      value: "opal-resource-db"
    - name: DESTINATION_POSTGRESQL_USERNAME
      valueFrom:
        secretKeyRef:
          name: cr8tor-secret
          key: opal-resource-db-username

    - name: DESTINATION_POSTGRESQL_PASSWORD_SECRET_NAME
      value: opal-resource-db-password

    - name: DESTINATION_POSTGRESQL_PORT
      value: "5432"

    - name: DESTINATION_POSTGRESQL_OPAL_READONLY_USERNAME
      valueFrom:
        secretKeyRef:
          name: cr8tor-secret
          key: opal-resource-db-username
    - name: DESTINATION_POSTGRESQL_OPAL_READONLY_PASSWORD_SECRET_NAME
      value: opal-resource-db-password

    - name: DESTINATION_OPAL_HOST
      value: "https://opal.${DOMAIN}"
    - name: DESTINATION_OPAL_NO_SSL_VERIFY
      value: "false"
    - name: DESTINATION_OPAL_USERNAME
      value: "administrator"
    - name: DESTINATION_OPAL_PASSWORD_SECRET_NAME
      value: opal-administrator-password

ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect : "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect : "true"
    nginx.ingress.kubernetes.io/proxy-body-size: 64m
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "1860"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "1800"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "1800"
  className: nginx
  host: cr8tor.${DOMAIN}
  tls:
    secretName: xk8tre-tls

storage: 
  k8tre:
    env: TARGET_STORAGE_ACCOUNT_K8TRE_MNT_PATH
    mountPath: /home/appuser/outputs/k8tre
    pvcs:
      staging:
        name: k8tre-staging
        create: true
        storageClassName: rwx-default
        accessModes:
        - ReadWriteMany

      production:
        name: k8tre-prod
        create: true
        storageClassName: rwx-default
        accessModes:
        - ReadWriteMany
  lsc:
    env: TARGET_STORAGE_ACCOUNT_LSC_SDE_MNT_PATH
    mountPath: /home/appuser/outputs/lsc
    pvcs:
      staging:
        name: lsc-staging
        create: true
        storageClassName: rwx-default
        accessModes:
        - ReadWriteMany

      production:
        name: lsc-prod
        create: true
        storageClassName: rwx-default
        accessModes:
        - ReadWriteMany
  nw:
    env: TARGET_STORAGE_ACCOUNT_NW_SDE_MNT_PATH
    mountPath: /home/appuser/outputs/nw
    pvcs:
      staging:
        name: nw-staging
        create: true
        storageClassName: rwx-default
        accessModes:
        - ReadWriteMany

      production:
        name: nw-prod
        create: true
        storageClassName: rwx-default
        accessModes:
        - ReadWriteMany

